/* src/index.css */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* Deixa o fundo do site todo escuro para combinar com seu menu */

  color: #ffffffde;
}



body {
  margin: 0;
  /* Remove a borda branca ao redor do site */
  min-width: 320px;
  min-height: 100vh;
}

::-webkit-textfield-decoration-container:hover {
  cursor: pointer;
  color: rgb(30, 56, 47);
}