/* src/index.css */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  /* Deixa o fundo do site todo escuro para combinar com seu menu */
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
}

body {
  margin: 0; /* Remove a borda branca ao redor do site */
  min-width: 320px;
  min-height: 100vh;
}

::-webkit-textfield-decoration-container:hover {
  cursor: pointer;
  color: aquamarine;
}