/* Menu.module.css */

.navContainer {
  background-color: #18181b; /* Cor escura (Zinc 900) */
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  max-width: 28rem;
  margin: 0 auto; /* Centralizar */
}

.lista {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  font-size: 0.875rem; /* 14px */
  font-weight: 500;
  color: #a1a1aa; /* Cinza claro */
  transition: all 0.2s ease;
}

.link:hover {
  background-color: #27272a;
  color: #e4e4e7;
}

/* Classe especial para quando o item estiver ativo */
.ativo {
  background-color: #3f3f46;
  color: white;
}